
.icon-menu2{
	width:30px;
	height:30px;
}
.icon-menu3{
	width:20px;
	height:20px;
	margin-right: 10px;
}
.icon-menu4{
	width:15px;
	height:15px;
	margin-right: 10px;
}
.icon-menu5{
	width:16px;
	height:16px;
	margin-bottom: 3px;
}
.icon-menu6{
	width:35px;
	height:35px;
}


