.highlight{
    background-color: #f8f9fa;
    padding: 20px;
}
.highlight pre code {
    font-size: inherit;
    color: #212529;
}
.nt {
    color: #2f6f9f;
}
.na {
    color: #4f9fcf;
}
.s {
    color: #d44950;
}
pre.prettyprint {
    background-color: #eee;
    border: 0px;
    margin: 0;        
    padding: 20px;
    text-align: left;
}

.atv,
.str {
    color: #05AE0E;
}

.tag,
.pln,
.kwd {
    color: #3472F7;
}

.atn {
    color: #2C93FF;
}

.pln {
    color: #333;
}

.com {
    color: #999;
}
.nom {
  font-family:'Poppins Light';
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #7d7d7d;
  margin-bottom: 0px;
}
.desc {
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-left: 0;
}
.vl {
  border-left: 2px solid #D8D8D8;
  height: 100%;
  margin-left: 5px;
  padding-left: 0px;
}
.buttonm {
  background-color: transparent; 
  border: none;
  color: #008BBF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-top:15px;
  cursor: pointer;
}
.nom2 {
  font-family:'Poppins regular';
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 0px;
}